$primary-heading-font: 'Niramit', sans-serif;
$primary-paragraph-font: 'Roboto', 'sans-serif';
$background-gradient: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
$color-primary:#bf2e34;
$color-secondary: #753682;
$white-high-opacity: rgba(255, 255, 255, 0.719);
$box-shadow: 10px 5px 15px rgba(14, 14, 14, 0.322);