.score{
    &__container{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem 4rem;
        border-radius: 10px;
        background-image: $background-gradient;
        margin-bottom: 5rem;
        
        @include respond(457){
            padding: 1rem 2rem;
        }

        @include respond(435){
            transform: translateY(-7rem);
            width:75vw;
        }
    }
}

.totalScore{
    color: $color-primary;
    font-weight: 300;

    @include respond(457){
        transform: translateY(-7rem);
    }
}